@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-background-clip: text;
}

html {
  scrollbar-gutter: auto !important;
}

@layer components {
  .btn {
    @apply rounded-lg;
  }

  .input {
    @apply rounded-lg;
  }

  .select {
    @apply rounded-lg;
  }

  .menu *{
    @apply rounded-lg;
  }
}